<%= form_tag frames_path, method: :post, id: 'photoinfo', remote: true, authenticity_token: true, html: { multipart: true } do %>
  <div class="photoPreview">
    <p id="uploadClick">Click to Upload</p>
  </div>
  <%= file_field_tag :character, accept: 'image/png,image/gif,image/jpeg, image/jpg', id: 'uploadCharacter' %>
  <p class="deletePhoto">Delete</p>
  <%= submit_tag 'Submit Photo', id: 'submitPhoto' %>
<% end %>
