<%= form_tag frame_character_upload_path, method: :patch, id: 'photoinfo', remote: true, html: { multipart: true } do %>
  <div class="photoPreview">
    <%= icon('upload', '', class: 'photoUpload') %>
    <p id="uploadClick">Click to Upload</p>
  </div>
  <%= file_field_tag :character, accept: 'image/png,image/gif,image/jpeg, image/jpg', id: 'uploadCharacter' %>
  <p class="deletePhoto">Delete</p>
  <%= submit_tag 'Submit Photo', id: 'submitPhoto' %>
<% end %>
